* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.contentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  color: rgb(0, 0, 0);
  padding: 20px;
}

.titleApp {
  font-size: 80px;
  margin: 0;
  text-align: center;
  /* width: 100%; */
}



/* CSS for screens smaller than 768px */
@media (max-width: 767px) {
  .contentTitle {
    height: 20px;
    margin: 10px 0px;
    width: 100vw;
  }
  .titleApp {
    font-size: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

/* CSS for screens between 768px and 1023px */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .principal-question {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .options-question {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
} */

/* CSS for screens larger than 1023px */
/* @media (min-width: 1024px) {
  .principal-question {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
} */